html {
      
      background:#e91e63;
      font-family:'helvetica neue';
      font-size: 20px;
    }
    body {
      margin: .5em;
    }
    #imagen{
  width: 43%;
  float: left;
  margin-top: 5px;
}
.derecha{
  float: right;
}
.izquierda{
  float: left;
}
#tablas{
  margin: auto;
  padding: .5em;
  overflow: hidden;
  border-top: 5px solid #ccc;
  border-bottom: 5px solid #ccc;
  list-style: none;
}
#uno{
  width: 8em;
  float: right;
}
#dos{
  width: 8em;
  float: left;
}


#footer{
  max-width: 400px;
  margin: 0 auto;
  font-size: 2rem;
  padding: 12px;
}
#footer a{
  display: inline-block;
}
body nav ol li{
  display: inline-block;
  padding: 15px;
  background: ;
  border-bottom: solid 8px #080808;
}